@page "/about"

<PageTitle>About - TimeTracker</PageTitle>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h1 class="mb-4">About TimeTracker</h1>
        
        <p class="lead">
            A simple, efficient time tracking application to help you manage your projects and tasks.
        </p>
        
        <hr class="my-4" />
        
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Developer</h5>
                        <p class="card-text">Andreas Gabrielsson</p>
                        <p class="card-text">
                            <a href="mailto:andreas.gabrielsson@softronic.se">andreas.gabrielsson@softronic.se</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Version</h5>
                        <p class="card-text">1.0.0</p>
                        <p class="card-text">Released: April 2025</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-4">
            <a href="/" class="btn btn-primary">
                <i class="oi oi-arrow-left mr-2"></i> Back to Dashboard
            </a>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <h3>Features</h3>
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item">Track time spent on projects and tasks</li>
            <li class="list-group-item">Generate reports and visualize your productivity</li>
            <li class="list-group-item">Set goals and track your progress</li>
            <li class="list-group-item">Simple and intuitive user interface</li>
        </ul>
    </div>
</div>